@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-image: url("images/default.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-shadow: 2px 2px 1px black;
  font-family: "Open Sans", sans-serif;
}

#weatherContainer {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 5px black;
  padding: 30px;
  border-radius: 10px;
  margin-top: 5px;
  visibility: hidden;
}

#weatherContainer h1 {
  margin: 5px;
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
}

#weatherContainer p {
  display: inline;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

#searchContainer {
  width: 250px;
  display: flex;
}

#searchInput {
  width: 100%;
  border: 3px solid #00897b;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0097a7;
}

#searchInput:focus {
  color: #00897b;
}

#searchBtn {
  width: 40px;
  height: 36px;
  border: 1px solid #00897b;
  background: #00897b;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#weatherMain {
  display: block;
  margin-bottom: 10px;
}
#weatherMain div {
  display: inline-block;
}
#weatherDescriptionHeader {
  font-size: 20px;
  vertical-align: 50%;
}
#temperature {
  font-size: 30px;
  vertical-align: 25%;
}
.bottomDetails {
  display: block;
  font-size: 20px;
  text-align: right;
}
hr {
  margin-bottom: 10px;
}
